<!DOCTYPE html>
<html>
<head>
    <script src="{{ url_for('static', filename='create-order.js') }}"></script>
    <title>
        Create Order
    </title>
<!--    <link rel="stylesheet" type="text/css" href= "css/style-create-order.css" />-->
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='css/style-create-order.css') }}" />

</head>
<body background="{{ url_for('static', filename='Picture1.png') }}">
    <div class="header" style=" background-image: url(static/header.jpg); background-repeat: no-repeat; ">
        <h1>Food Preservation System</h1>
    </div>

    <div class="navbar">
        <a href="{{ url_for('return_home') }}" >Home</a>
        <a href="{{ url_for('search') }}">Search</a>
        <a href="{{ url_for('device_control') }}">Device control</a>
        <a href="{{ url_for('logout') }}" class="right">Logout</a>
        <a href="{{ url_for('report') }}">Report</a>
        <div class="dropdowna">
            <button class="dropbtna" > Item
            </button>
            <div class="dropdown-contenta">
                <a href="{{ url_for('index1') }}">Imports item</a>
                <a href="{{ url_for('manage') }}" >Manage item</a>
                <a href="{{ url_for('delete_item') }}">Delete item</a>
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn" > Order
            </button>
            <div class="dropdown-content">
                <a href="{{ url_for('order') }}" >Search order</a>
                <a href="{{ url_for('create_order') }}" class="active">Add order</a>
            </div>
        </div>
    </div>
    <div class="container">
    <h1>
        Add New Order
    </h1>
    <form id="form">
        <input type="text" id="name" autocomplete="off" autofocus placeholder="Order Name here">
        <p></p>
        <input type="submit" value="Add Order">
    </form>
    </div>
</body>
</html>