<!DOCTYPE html>
<html>
<head>
    <title>Manage item</title>
<!--       <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">-->
<!--       <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>-->
    <link rel="stylesheet" href="static/manage_items.css">
    <script src="{{ url_for('static', filename='manage_items.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/style-manage-item.css">
</head>
<body background="/static/Picture1.png">
    <div class="header" style=" background-image: url(static/header.jpg); background-repeat: no-repeat; ">
        <h1>Food Preservation System</h1>
    </div>

    <div class="navbar">
        <a href="/home" >Home</a>
        <a href="{{ url_for('search') }}">Search</a>
        <a href="/device-control">Device control</a>
        <a href="/" class="right">Logout</a>
        <a href="{{ url_for('report') }}">Report</a>
        <div class="dropdowna">
            <button class="dropbtna" > Item
            </button>
            <div class="dropdown-contenta">
                <a href="/item">Imports item</a>
                <a href="/manage" class="active">Manage item</a>
                <a href="{{ url_for('delete_item') }}">Delete item</a>
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn"> Order
            </button>
            <div class="dropdown-content">
                <a href="/order">Search order</a>
                <a href="/create-order">Add order</a>
            </div>
        </div>
    </div>


    <div class="list">
        {% for item in items %}
            <li>
                <a href="/specific_item/{{item.item_id}}">
                    # ID: {{ item.item_id }} - Name: {{ item.name }} - Quantity: {{ item.quantity }}
                </a>
            </li>

        {% endfor %}

    </div>


    </body>
</html>