<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="{{ url_for('static', filename='get-order.js') }}"></script>
<!--    <link rel="stylesheet" type="text/css" href= "css/style-order.css" />-->
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='css/style-order.css') }}" />
        <title>Search Order Page</title>
</head>
<body background="{{ url_for('static', filename='Picture1.png') }}">
    <div class="header" style=" background-image: url(static/header.jpg); background-repeat: no-repeat; ">
        <h1>Food Preservation System</h1>
    </div>

    <div class="navbar">
        <a href="{{ url_for('return_home') }}" >Home</a>
        <a href="{{ url_for('search') }}">Search</a>
        <a href="{{ url_for('device_control') }}">Device control</a>
        <a href="{{ url_for('logout') }}" class="right">Logout</a>
        <a href="{{ url_for('report') }}">Report</a>
        <div class="dropdowna">
            <button class="dropbtna" > Item
            </button>
            <div class="dropdown-contenta">
                <a href="{{ url_for('index1') }}">Imports item</a>
                <a href="{{ url_for('manage') }}" >Manage item</a>
                <a href="{{ url_for('delete_item') }}">Delete item</a>
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn" > Order
            </button>
            <div class="dropdown-content">
                <a href="{{ url_for('order') }}" class="active">Search order</a>
                <a href="{{ url_for('create_order') }}">Add order</a>
            </div>
        </div>
    </div>


    <div class="container">
        <div class="row">
            <div class="col-25">
<!--                <label>Order:</label>-->
            </div>

            <div class="col-55">
                <form id="form">
                    <input type ="text" id="id" autocomplete="off" autofocus placeholder="Order ID">

                    <input type="submit" value="Get Order">
                </form>
            </div>

            <div class="col-20">

            </div>
        </div>

        <div id="r_id">ID:</div>
        <div id="order_name">Name:</div>
        <div id="date">Date created:</div>
        <div id="status">Completed:</div>
        <div id="date_comp">Date completed:</div>
        <ul id="item_list"></ul>



        <div class="op">
            <a style="text-decoration:none" href="{{ url_for('add_item_to_order') }}">
            <button id="addItem" disabled>Add Item</button>
            </a>

            <a style="text-decoration:none" href="{{ url_for('remove_item_from_order') }}">
            <button id="removeItem" disabled>Remove Item</button>
            </a>

            <a style="text-decoration:none" href="{{ url_for('update_item_quantity_in_order') }}">
            <button id="updateQuantity" disabled>Update Quantity</button>
            </a>

        <p></p>

           <button id="confirm" disabled>Confirm</button>
           <button id="check" disabled>Check</button>
           <button id="delete" disabled>Delete</button>
        </div>
    </div>
</html>