<!DOCTYPE html>
<html>
<head>
    <title>Search Page</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!--    <link rel="stylesheet" type="text/css" href= "css/style-searchpage.css" />-->
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='css/style-searchpage.css') }}" />
</head>

<body background="{{ url_for('static', filename='Picture1.png') }}">

    <div class="header">
        <h1>Food Preservation System</h1>
    </div>

    <div class="navbar">
        <a href="{{ url_for('return_home') }}" >Home</a>
        <a href="#" class="active">Search</a>
        <a href="{{ url_for('index1') }}">Item</a>
        <a href="{{ url_for('manage') }}">Manage Item</a>
        <a href="{{ url_for('logout') }}" class="right">Logout</a>

        <div class="dropdown">
            <button class="dropbtn"> Order
            </button>
            <div class="dropdown-content">
                <a href="{{ url_for('order') }}">Search order</a>
                <a href="#">Add order</a>
            </div>
        </div>
    </div>

    <div class="timeform">
        <form action="{{ url_for('get') }}" method="post">
            <label><h4>From:</h4> </label>
            <input type="number" name="fday" placeholder="Day">
            <input type="number" name="fmonth" placeholder="Month">
            <input type="number" name="fyear" placeholder="Year">
            <input type="number" min="0" max="23" name="fhour" placeholder="Hour">:
            <input type="number" min="0" max="59" name="fminute" placeholder="Minute">

            <label><h4>To:</h4> </label>
            <input type="number" name="tday" placeholder="Day">
            <input type="number" name="tmonth" placeholder="Month">
            <input type="number" name="tyear" placeholder="Year">
            <input type="number" min="0" max="23" name="thour" placeholder="Hour">:
            <input type="number" min="0" max="59" name="tminute" placeholder="Minute">
            <button>Search</button>
        </form>
    </div>
</body>