<!DOCTYPE html>
<html>
<head>
    <title>Specific Item</title>
<!--        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB" crossorigin="anonymous">-->
<!--    <link rel="stylesheet" href="static/manage_items.css">-->
<!--    <script src="{{ url_for('static', filename='manage_items.js') }}"></script>-->
    <link rel="stylesheet" type="text/css" href="/static/css/style-manage-item.css">
</head>

<body background="/static/Picture1.png">
    <div class="header" style=" background-image: url(../static/header.jpg); background-repeat: no-repeat; ">
        <h1>Food Preservation System</h1>
    </div>

    <div class="navbar">
        <a href="/home" >Home</a>
        <a href="{{ url_for('search') }}" >Search</a>
        <a href="/device-control">Device control</a>
        <a href="/" class="right">Logout</a>
        <a href="{{ url_for('report') }}">Report</a>
        <div class="dropdowna">
            <button class="dropbtna" > Item
            </button>
            <div class="dropdown-contenta">
                <a href="/item">Imports item</a>
                <a href="/manage" class="active" >Manage item</a>
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn"> Order
            </button>
            <div class="dropdown-content">
                <a href="/order">Search order</a>
                <a href="/create-order">Add order</a>
            </div>
        </div>
    </div>

    <div class="list">
        {% for feature in info %}
            <li>
                # ID: {{ feature.item_id }} - Name: {{ feature.item_name }} - Quantity: {{ feature.item_quantity }} - Time: {{feature.import_time}} - Importer: {{feature.import_man}}
            </li>
        {% endfor %}
    </div>


    </body>
</html>