<!DOCTYPE html>
<html>
<head>
    <script src="{{ url_for('static', filename='update-item-quantity-in-order.js') }}"></script>
    <title>
        Update Item
    </title>
<!--    <link rel="stylesheet" type="text/css" href= "css/style-update-item-quantity-in-order.css" />-->
    <link rel="stylesheet" type="text/css" href= "{{ url_for('static', filename='css/style-update-item-quantity-in-order.css') }}" />

</head>
<body background="{{ url_for('static', filename='Picture1.png') }}">
    <div class="header" style=" background-image: url(static/header.jpg); background-repeat: no-repeat; ">
        <h1>Food Preservation System</h1>
    </div>

    <div class="navbar">
        <a href="{{ url_for('return_home') }}" >Home</a>
        <a href="{{ url_for('search') }}">Search</a>
        <a href="{{ url_for('device_control') }}">Device control</a>
        <a href="{{ url_for('logout') }}" class="right">Logout</a>
        <a href="{{ url_for('report') }}">Report</a>
        <div class="dropdowna">
            <button class="dropbtna" > Item
            </button>
            <div class="dropdown-contenta">
                <a href="{{ url_for('index1') }}">Imports item</a>
                <a href="{{ url_for('manage') }}" >Manage item</a>
            </div>
        </div>

        <div class="dropdown">
            <button class="dropbtn" > Order
            </button>
            <div class="dropdown-content">
                <a href="#" class="active">Search order</a>
                <a href="{{ url_for('create_order') }}">Add order</a>
            </div>
        </div>
    </div>
    <div class="container">
    <h1>
        Update Item in Order {{ x }}
    </h1>
    <form id="form">
        <input type="text" id="itemId" autocomplete="off" autofocus placeholder="Item ID">
        <input type="text" id="quantity" autocomplete="off" autofocus placeholder="Quantity">
        <input type="submit" value="Update">
    </form>
    </div>
</body>
</html>